body {
	background: #FAEBD7;
}
header,main,footer, footer .sitemap, footer .contact  {
	background: #FFE4C4;
}
header,main,footer{
	min-width: 1150px;
	max-width: 1150px;
	margin: auto;
}
header,main,footer {
	padding: 15px 0px 15px 0px;
}
header h1 {
	font-family: 'Send Flowers', cursive;
	font-size: 7em;
	text-align: center;
}
header h2 {
	font-family: 'EB Garamond', serif;
	font-size: x-large;
	text-align: center;
}
header h3{
	font-family: 'EB Garamond', serif;
	font-size: 23px;
	text-align: center;
}
main h2 {
	font-family: 'EB Garamond', serif;
	font-size: x-large;
	text-align: center;
}
main h3{
	font-family: 'EB Garamond', serif;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}
header nav {
	font-family: 'EB Garamond', serif;
	text-align: right;
	font-size: 1.2em;
	margin-right: 4%;
}

footer h5{
	font-size: 1.2em;
}
footer .footer .contact{
	font-family: 'EB Garamond', serif;
	font-size: 1.2em;
}
footer .footer .sitemap {
	font-family: 'EB Garamond', serif;
	font-size: 1.2em;
    }
footer .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-left: 4%;
    margin-right: 4%;
}
.input-contact{
	display: block;
	margin:auto;
	text-align: center;
	padding: 10px;
	font-family: 'EB Garamond', serif;
	font-size: large;
}
.button-contact{
	display: block;
	margin:auto;
	margin-top: 10px;
	text-align: center;
	padding: 10px;
	font-family: 'EB Garamond', serif;
	font-size: large;
	font-weight: bold;
	background-color:#DDBAA7
}
.textarea-contact{
	width: 650px;
	height: 400px;
	margin-left: 250px;
	resize: none;
	padding: 10px;
	font-family: 'EB Garamond', serif;
	font-size: large;
}
.tabs_control{
	display:inline-block;
	font-family: 'EB Garamond', serif;
	font-size: large;
	font-weight: bold;
	padding: 3px 10px;
	background-color: #DDBAA7;
	color:black;
	text-decoration: none;
	border-top-left-radius: 10px;
}
.tabs_controls{
	margin-left: 300px;
}
.tabs_control_active{
	background-color: #DDAD94;
}
.tabs_control:hover,
.tabs_control:focus{
	background-color: #DDAD94;
	outline: none;
}
.tabs_panels{
		margin-left: 300px;
		width: 553px;
}
.tabs_panel{
	font-family: 'EB Garamond', serif;
	font-size: large;
	display: none;
	padding: 10px;
	background-color: #DDAD94;
	color:black;
	border-bottom-left-radius: 10px;
}
.tabs_panel_active{
	display:block;
}
.slider{
	width: 409.141px;
	height: 500px;
	margin: 30px auto;
	overflow: hidden;
	border-radius: 10px 10px;
}
.slider-line{
	height: 500px;
	width: 1227.423px;
	background-color: #DDBAA7;
	display: flex;
	position: relative;
	left:0;
	transition: all ease 1s;
}
.map p{
	font-family: 'EB Garamond', serif;
	font-size: x-large;
	float: left;
}
.map .content{
	margin-top: 225px;
	margin-left: 80px;
}
.map{
	display: flex;
    justify-content: space-between;
}
.choose_master{
	display: block;
	margin:auto;
	text-align: center;
	padding: 10px;
	font-family: 'EB Garamond', serif;
	font-size: large;
}
main span{
	font-family: 'EB Garamond', serif;
	font-size: large;
	font-weight: bold;
}
main label{
	font-family: 'EB Garamond', serif;
	font-size: large;
}